.App {
  text-align: center;
}

.App-header {
  background-color: #F0EAD2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

@media (max-width: 768px){
  .hide-on-small{
    display:none;
  }
}

@media (max-width: 1100px){
  .hide-on-medium{
    display:none;
  }
}

