.pzsp2-cardlist-cont{
    width: 80%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.pzsp2-cardlist-title{
    margin-top: 8vh;
}

.pzsp2-cardlist-tagsearch{
    margin-top: 0.5%;
    text-align: left;
    font-size: 12px;
}

.pzsp2-cardlist-row-buttons{
    margin-bottom: 1%;
}

.pzsp2-cardlist-learn-button{
    float: left;
}

.pzsp2-cardlist-test-button{
    float: left;
    margin-left: 1%;
}

.pzsp2-cardlist-table{
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    display: block;
    overflow-x: auto;
}

.pzsp2-cardlist-table-que{
    width: 40%;
}

.pzsp2-cardlist-table-grp{
    width: 15%;
}

.pzsp2-cardlist-table-tag{
    width: 10%;
}

.pzsp2-cardlist-table-vis{
    width: 10%;
}

.pzsp2-cardlist-table-lin{
    width: 5%;
}

.pzsp2-cardlist-td-wrap{
    word-wrap: break-word
}

.pzsp2-cardlist-page-cont{
    width: 100%;
    margin-top: 5%;
}

.pzsp2-cardlist-link{
    text-decoration: none;
    color: green;
}

.pzsp2-cardlist-link:hover {
    color: black;
}

.container-fluid .tag button {
    display: flex;
    padding: 6px;
    border: none;
    background-color: unset;
    cursor: pointer;
    color: white;
}
.container-fluid .rti--container {
    max-width: 20%;
    width: 20%;
    font-size: 15px;
    --rti-border: #ccc;
    --rti-tag-remove: #e53e3e;
    --rti-bg: #fff;
    --rti-tag: #636363;

}

.container-fluid .rti--tag button {
    padding-left: 0.5rem;
    padding-right: 0.1rem;
}

.container-fluid .rti--input {
    width: 100%;
}
