.pzsp2-cardform-cont{
    width: 80%;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.pzsp2-cardform-card{
    /*animation: backInDown;*/
    animation: fadeIn;
    animation-duration: 500ms;
}

.pzsp2-cardform-pubcheck{
    text-align: start;
    margin-top: 1%;
    margin-bottom: 2%;
    animation: fadeIn;
    animation-duration: 1s;
}

.pzsp2-cardform-buttons{
    padding-top: 2%;
    justify-content: center;
    animation: fadeIn;
    animation-duration: 1500ms;
}


.pzsp2-cardform-add-button{
    float: left;
    margin-right: 2%;
}

.pzsp2-cardform-addplus-button{
    float: right;
}

.pzsp2-cardform-page-cont{
    width: 100%;
    margin-top: 5%;
}

.pzsp2-cardform-edit-button{
    justify-content: center;
}

.pzsp2-cardform-group-dropdown{
    text-align: start;
    margin-bottom: 2%;
    animation: fadeIn;
    animation-duration: 1s;
}

.pzsp2-cardform-groups-header{
    font-weight: 600;
}
.pzsp2-cardform-groups{
    font-weight: 400;
    cursor: pointer;
}
.pzsp2-cardform-dropdown-item {
    cursor: pointer;
}

.pzsp2-cardform-tags .rti--container {
    width: 50%;
    font-size: 15px;
    --rti-border: black;
    --rti-tag-remove: #e53e3e;
    --rti-bg: dimgray;
    --rti-tag: #121212;
    color: white;
}

.pzsp2-cardform-tags .rti--tag button {
    padding-left: 0.5rem;
    padding-right: 0.1rem;
    color: white !important;
}

.pzsp2-cardform-tags .rti--input {
    width: 50%;
    background-color: dimgrey;
    color: white;
}

.pzsp2-cardform-tags .rti--input:focus {
    color: white;
}

.pzsp2-cardform-tags .rti--input::placeholder {
    color: white;
}

.rti--container:focus-within {
    border-color: black;
    box-shadow: black 0 0 0 1px;
}

.pzsp2-cardform-tags{
    animation: fadeIn;
    animation-duration: 1s;
    margin-bottom: 2%;
}