.card{
    margin: 5% 0;
    min-height: 100px;
    justify-content: center

}

.pzsp2-mainmenu-cont{
    width: 80% !important;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.pzsp2-mainmenu-card{
    background-color: #adc178 !important;
}

.pzsp2-mainmenu-card:hover{
    border-color: black;
}

.pzsp2-mainmenu-card-link{
    text-decoration: none !important;
    color: white !important;
}

.pzsp2-mainmenu-page-cont{
    width: 100%;
    margin-top: 6%;
    margin-bottom: 6%;
}
