.pzsp2-register-page-cont{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.pzsp2-register-cont{
    width: 100%;
}

.pzsp2-register-row{
    justify-content: center;
}

.pzsp2-register-card{
    align-items: center;
    padding: 10% 0;
    animation: fadeIn;
    animation-duration: 500ms;
}

.pzsp2-register-user{
    margin: 0 0 4%;
    text-align: start;
    width: 70%;
    animation: fadeIn;
    animation-duration: 1000ms;
}

.pzsp2-register-email{
    margin: 0 0 4%;
    text-align: start;
    width: 70%;
    animation: fadeIn;
    animation-duration: 1500ms;
}

.pzsp2-register-pwd{
    margin: 0 0 4%;
    text-align: start;
    width: 70%;
    animation: fadeIn;
    animation-duration: 2000ms;
}

.pzsp2-register-pwdconf{
    margin: 0 0 4%;
    text-align: start;
    width: 70%;
    animation: fadeIn;
    animation-duration: 2500ms;
}

.pzsp2-register-submit{
    justify-content: center;
    margin-top: 5%;
    animation: fadeIn;
    animation-duration: 3000ms;
}

.pzsp2-register-loglink-text{
    animation: fadeIn;
    animation-duration: 2500ms;
}

.pzsp2-register-loglink{
    animation: fadeIn;
    animation-duration: 3000ms;
}

/*//pzsp2 ogarnać dlaczego error ma dodatkowy padding-left 5%*/
.pzsp2-register-error{
    position: fixed !important;
    top: 5%;
    margin: 0;
    padding-left: 10%;
    padding-right: 15%;
    width: 100%;
    z-index: 1;
    word-wrap: anywhere;
    /*//pzsp2 - ładna animacja dla erroru, trigger- onError*/
    /*animation: shakeX;*/
}
